<% content_for :title do %>About<% end %>
<h3>About MashedIn</h3>
<p>
MashedIn is a tool for recruiters to bridge the gap between job postings and job candidates. Instead of depending upon ignorant algorithms to connect the two, MashedIn enables a recruiter to seamlessly filter job postings and candidate profiles. The result is a more efficient process for recruiters, and more applicable jobs for candidates.
</p>
